*{
    box-sizing: border-box;
}


/* Header */
.containerBanner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.imgBanner {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

@media (max-width: 480px) {
    .imgBanner {
        max-height: 200px;
    }
}

/* Footer.js */
.footer {
    text-align: center;
    padding: 15px 10px;
    background-color: #f1f1f1;
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    word-wrap: break-word;
}

@media (max-width: 480px) {
    .footer {
        font-size: 12px;
        padding: 10px;
    }
}


/* About.js */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    flex-direction: column;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}


.containerBottom {
    display: flex;
    width: 100%;
    margin-top: 30px;
    gap: 20px;
}

/* .leftBottom {
    width: 140px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-self: flex-start;
} */

.leftBottom {
    position: sticky;
    top: 20px;
    /* cách đỉnh trình duyệt 20px */
    align-self: flex-start;
    width: 140px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.rightBottom {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.containerRight{
    display: flex;
    flex-direction: column;
    padding: 10px
}

.titlePage{
    color: #3B4B5E;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 0px;
}


.underline {
    height: 5px;
    width: 145px;
    background: linear-gradient(to right, #fbbf24, #3b82f6);
    border-radius: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}

p{
    margin-top: 0;
        margin-bottom: 1rem;
    color: #5E6E80;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

em{
    font-style: italic;
}

.experience-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #3B4B5E;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.3;
}


.experience-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

h3,h2,h1{
    color: #3B4B5E;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.3;
}

.experience-card {
    flex: 1;
    min-width: 280px;
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.experience-logo {
    height: 40px;
    object-fit: contain;
    margin-bottom: 10px;
}

.project-logos-slider {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

.project-logo-img {
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
}

@media (max-width: 768px) {
    .leftBottom {
        display: none;
    }

    .tab-bar{
        display: none;
    }

    .project-logos-slider{
        width: 100%;
        max-width: 300px;
    }

    .project-logo-img{
        height: 200px;
    }
}


/* Contact.js */



.inputContact{
    display: flex;
    padding: 10px;
    gap: 40px;
}

.inputWrapper {
    flex: 1;
    min-width: 200px;
}

.inputFullName,
.inputEmail {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #F7F9FA;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #F7F9FA;
}

.inputFullName:focus,
.inputEmail:focus ,
.textareaContact:focus{
    border: 1px solid #ccc;
    background-color: white;
}

.textareaWrapper {
    margin-top: 10px;
    padding: 10px;
}

.textareaContact {
    width: 100%;
    height: 150px;
    padding: 12px 16px;
    border-radius: 15px;
    border: 1px solid #F7F9FA;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    resize: none;
    background-color: #F7F9FA;
}


.inputFullName::placeholder,
.inputEmail::placeholder,
.textareaContact::placeholder {
    color: #999;
    font-size: 15px;
    opacity: 1;
    font-family: "Poppins", sans-serif;
}

.btnSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 190px;
    height: 50px;
}

.btnSubmit:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btnSubmit:active {
    background-color: #004494;
    transform: translateY(0);
}

.btnIcon {
    font-size: 18px;
}
.submitWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

